# APP
PORT=6000
NODE_ENV=DEVELOPMENT

# DATABASE
DATABASE_URL=postgresql://postgres:password@host:5432/postgres
DB_SSL=true

# JWT
JWT_SECRET=supersecretjwtkey

# MAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password
ADMIN_EMAIL=admin@alpineace.com

# URL
FRONTEND_BASE_URL=http://localhost:3000
BASE_URL=http://localhost:5001
PUBLIC_URL=http://localhost:5001

# LOG
LOG_LEVEL=info

# CLOUDFLARE R2 OBJECT STORAGE (Media & Assets)
R2_ACCOUNT_ID=80782794d6b0384e716c0b6526e7220e
R2_ACCESS_KEY_ID=18a66d8a27ac280672515eae821860fb
R2_SECRET_ACCESS_KEY=25b2a28ed143500d7c917f5a10c15ea2d60b7f678901deebb7305283eb097d6b
R2_BUCKET_NAME=alpineace-media
R2_PUBLIC_DOMAIN=https://media.alpineace.com
